# Rename this file to .env and fill in your details
MAL_CLIENT_ID=your_mal_client_id_here
MAL_USERNAME=your_mal_username_here
PORT=8080
SITE_URL=http://localhost:8080
RESEND_API_KEY=your_resend_api_key_here